#====================================================
#     MAKEFILE FILES
#====================================================
obj
lib
bin

#====================================================
#     VS CODE SETTINGS
#====================================================
.vscode

#====================================================
#     VALGRIND FILES
#====================================================
*.out.*