#====================================================
#     MAKEFILE FILES
#====================================================
obj
lib
bin

#====================================================
#     PERSONAL FILES
#====================================================
todo.cpp

#====================================================
#     VS CODE SETTINGS
#====================================================
.vscode/*
!.vscode/settings.json

#====================================================
#     VALGRIND FILES
#====================================================
*.out.*