#====================================================
#     MAKEFILE OBJECTS
#====================================================
obj
lib
bin

#====================================================
#     PERSONAL FILES
#====================================================
todo.cpp

#====================================================
#     VS CODE SETTINGS
#====================================================
.vscode/*
!.vscode/settings.json
